.container-fluid{
    display: block;
    width: 100%;
    height: 100%;
    background-color: darkorchid;
}
.btn-submit{
    margin: 5px;
}
.input{
    display: block;
    width: 500px;
    margin-left: 380px;
}
.input.invalid label{
    color: red;
}
.input.invalid label{
    background: bisque;
    border-color: red;
}